{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="form-group w-50 m-auto">
   <h1 class="my-5 display-4">Login</h1>
<form action="" method="post">
   {% csrf_token %}
   <!-- {{form.as_p}}  -->
 
      <div class="mb-3">        
        <input type="text" class="form-control" name="username" placeholder="Username">        
      </div>
      <div class="mb-3">        
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="mb-3">
      <button type="submit" class="btn btn-primary btn-sm">Login</button>
      <a href="{% url 'mains:home' %}" class="btn btn-primary btn-sm ">Back</a>
      </div>

      <div class="mb-3">
         If not a user signup <a href="{% url 'members:register' %}">here</a> .
      </div>

   
   
</form>

</div>
{% endblock %}